<!DOCTYPE html>
<head>
    <title>Cards</title>
    <meta charset ="utf-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>
</head>
<body>
    <h1 id = "title">deck of cards</h1>
    <div id='main_pile'>
      <h1>main pile</h1>
      <div id="main_cards" v-if="(cards.length)>0">
        <img v-on:click="on_click" draggable = "false" src="images/bowsette.jpg"></img>
      </div>
      <div id="empty_deck" v-else>
        <img draggable = "false" v-on:click="on_click" src="images/bowsette.jpg"></img>
      </div>
      <div id="playable_cards" v-if="(playable_cards.length>=1)">
        <card-item  @dragstart.native = "on_drag_start" :card_img="playable_cards[playable_cards.length-1].img" :card_id="playable_cards[playable_cards.length-1].code"></card-item>
      </div>
    </div> 
    <div id="playing_field">
      <div id="pile_1">
        <div class="drop_zone" @dragover="drag_over" @drop="on_drop">
          <h1>pile 1</h1>
          <div v-for="(card, index) in cards">
            <div v-if="card.active==true">
              <card-item  @dragstart.native = "on_drag_start" :card_img="card.img" :card_id="card.code"></card-item>
            </div>
            <div v-else> 
              <img draggable="false" src="images/bowsette.jpg"></img>
            </div>
          </div>
        </div>
      </div>

      <div  id="pile_2">
        <div class="drop_zone" @dragover="drag_over" @drop="on_drop">
          <h1>Pile 2</h1>
          <div v-for="(card, index) in cards">
            <div  v-if="card.active==true">
              <card-item  @dragstart.native = "on_drag_start" :card_img="card.img" :card_id="card.code"></card-item>
            </div>
            <div v-else> 
              <img draggable = "false" src="images/bowsette.jpg"></img>
            </div>
          </div>
        </div>
      </div>

      <div id="pile_3">
        <div class="drop_zone" @dragover="drag_over" @drop="on_drop">
          <h1>Pile 3</h1>
          <div  v-for="(card, index) in cards">
            <div  v-if="card.active==true">
              <card-item  @dragstart.native = "on_drag_start" :card_img="card.img" :card_id="card.code"></card-item>
            </div>
            <div v-else> 
              <img draggable = "false" src="images/bowsette.jpg"></img>
            </div>
          </div>
        </div>
      </div>

      <div id="pile_4">
        <div class="drop_zone" @dragover="drag_over" @drop="on_drop">
          <h1>Pile 4</h1>
          <div  v-for="(card, index) in cards">
            <div  v-if="card.active==true">
              <card-item  @dragstart.native = "on_drag_start" :card_img="card.img" :card_id="card.code"></card-item>
            </div>
            <div v-else> 
              <img draggable = "false" src="images/bowsette.jpg"></img>
            </div>
          </div>
        </div>
      </div>

      <div id="pile_5">
        <div class="drop_zone" @dragover="drag_over" @drop="on_drop">
          <h1>Pile 5</h1>
          <div  v-for="(card, index) in cards">
            <div  v-if="card.active==true">
              <card-item  @dragstart.native = "on_drag_start" :card_img="card.img" :card_id="card.code"></card-item>
            </div>
            <div v-else> 
              <img draggable = "false" src="images/bowsette.jpg"></img>
            </div>
          </div>
        </div>
      </div>

      <div id="pile_6">
        <div class="drop_zone" @dragover="drag_over" @drop="on_drop">
          <h1>Pile 6</h1>
          <div  v-for="(card, index) in cards">
            <div  v-if="card.active==true">
              <card-item  @dragstart.native = "on_drag_start" :card_img="card.img" :card_id="card.code"></card-item>
            </div>
            <div v-else> 
              <img draggable = "false" src="images/bowsette.jpg"></img>
            </div>
          </div>
        </div>
      </div>

      <div id="pile_7">
        <div class="drop_zone" @dragover="drag_over" @drop="on_drop">
          <h1>Pile 7</h1>
          <div  v-for="(card, index) in cards">
            <div  v-if="card.active==true">
              <card-item vue-bind:style="{z-index:index}" @dragstart.native = "on_drag_start" :card_img="card.img" :card_id="card.code"></card-item>
            </div>
            <div v-else> 
              <img vue-bind:style="{z-index:index}" draggable = "false" src="images/bowsette.jpg"></img>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="finished_piles">      
      <div>
        <div @dragover="drag_over" @drop="on_drop" id= "pile_spade">
          <h1>♠︎</h1>
          <div v-if="(cards.length<=0)">
            <img draggable = "false" src="images/bowsette.jpg"></img>
          </div>
          <div v-else>
            <card-item  @dragstart.native = "on_drag_start" :card_img="cards[cards.length-1].img" :card_id="cards[cards.length-1].code"></card-item>
          </div>
        </div>
        <div @dragover="drag_over" @drop="on_drop" id= "pile_club">
          <h1>♣︎</h1>
          <div v-if="(cards.length<=0)">
            <img draggable = "false" src="images/bowsette.jpg"></img>
          </div>
          <div v-else>
            <card-item  @dragstart.native = "on_drag_start" :card_img="cards[cards.length-1].img" :card_id="cards[cards.length-1].code"></card-item>
          </div>
        </div>
      </div>
      <div>
        <div @dragover="drag_over" @drop="on_drop" id= "pile_diamond">
          <h1>♦︎</h1>
          <div v-if="(cards.length<=0)">
            <img draggable = "false" src="images/bowsette.jpg"></img>
          </div>
          <div v-else>
            <card-item  @dragstart.native = "on_drag_start" :card_img="cards[cards.length-1].img" :card_id="cards[cards.length-1].code"></card-item>
          </div>
        </div>
        <div @dragover="drag_over" @drop="on_drop" id= "pile_heart">
          <h1>♥︎</h1>
          <div v-if="(cards.length<=0)">
            <img draggable = "false" src="images/bowsette.jpg"></img>
          </div>
          <div v-else>
            <card-item  @dragstart.native = "on_drag_start" :card_img="cards[cards.length-1].img" :card_id="cards[cards.length-1].code"></card-item>
          </div>
        </div>
      </div>
    </div>

    <div id='app-1'> 
      <p>{{deck_id}}</p>
      <button v-on:click="get_deck">Click for Cards</button>
    </div>
    <script src="javascript/mixins.js"></script>
    <script src="javascript/finished_mixin.js"></script>
    <script src="javascript/dragging_mixin.js"></script>
    <script src="javascript/getCards.js"></script>
</body>
