#finished_piles{
    float:right;
    width:auto;
}
#app-1{
    float:right;
}
#finished_piles>div>div{
    text-align:center;
}
#finished_piles>div>h1{
    margin:0 0 0 0;
    font-size:4vw;
    text-align:center;
}
img{
    height:10vh;
    width:auto;
}
.empty_deck{    
  height:10vh;
  width:5vw;
  background-color:black;
}
div#playing_field{
    float:left;
    height:70vh;
    width:90vw;
}
div#main_pile>div{
    display:inline-block;
}
div#playing_field>div{
    margin: 0vw 1vw 0vw 1vw;
    display:inline-block;
    vertical-align:top;
}
div.drop_zone{
    height:20vh;
    width:10vw;
}
