body{
    background-color:#6B8E23;
    text-align:center;
    margin:0;
    height:100%;
    overflow:hidden;
}
h1#title{
    text-align:center;
    font-size:4vw;
}
#app-1{
    clear:both;
}
#finished_piles{
    vertical-align:top;
    text-align:center;
    display:inline-block;
    width:20vw;
}
#finished_piles>div{
    width:auto;
    display:inline-block;
    margin: 0vw 1vw 0vw 1vw;
}
#finished_piles>div>div>div{
    text-align:center;
}
#finished_piles>div>div>h1{
    margin:0 0 0 0;
    font-size:6vh;
    text-align:center;
}
img{
    width:5vw;
    height:auto; 
}
.empty_deck{      
    width:5vw;
    height:10vw;
    background-color:black;
}
div#playing_field{
    vertical-align:top;
    display:inline-block;
    text-align:center;
    height:70vh;
    width:60vw;
}
div#main_pile{
    vertical-align:top;
    text-align:center;
    display:inline-block;
    width:15vw;
}
div#main_pile>div{
}
div#playing_field>div{
    width:auto;
    margin: 0vw 1vw 0vw 1vw;
    display:inline-block;
    vertical-align:top;
}
div#playing_field>div>div>h1{
    margin-bottom:4vh;
    text-align:center;
}
div#playing_field>div>div>div{
    text-align:center;
    position:relative;
}
div#playing_field>div>div>div>img{
    text-align:center;
}
div.drop_zone{
    height:40vh;
    width:5vw;
}
div#loader{
    text-align:center;
    margin:auto;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius:50%;
    width:60px;
    height:60px;
    animation: spin 2s linear infinite;
}
@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg)};
}
