body{
    text-align:center;
}

h1#title{
    text-align:center;
    font-size:4vw;
}
#app-1{
    clear:both;
}
#finished_piles{
    vertical-align:top;
    text-align:center;
    display:inline-block;
    width:20vw;
}
#finished_piles>div{
    width:auto;
    display:inline-block;
    margin: 0vw 1vw 0vw 1vw;
}
#finished_piles>div>div>div{
    text-align:center;
}
#finished_piles>div>div>h1{
    margin:0 0 0 0;
    font-size:4vw;
    text-align:center;
}
img{
    width:5vw;
    height:auto; 
}
.empty_deck{      
    width:5vw;
    height:10vw;
    background-color:black;
}
div#playing_field{
    vertical-align:top;
    display:inline-block;
    text-align:center;
    height:80vh;
    width:60vw;
}
div#main_pile{
    vertical-align:top;
    text-align:center;
    display:inline-block;
     width:15vw;
}
div#main_pile>div{
}
div#playing_field>div{
    width:auto;
    margin: 0vw 1vw 0vw 1vw;
    display:inline-block;
    vertical-align:top;
}
div#playing_field>div>div>h1{
    margin-bottom:7vh;
    text-align:center;
}
div#playing_field>div>div>div{
    margin-top:-7vh;
    text-align:center;
    position:relative;
}
div#playing_field>div>div>div>img{
    text-align:center;
}
div.drop_zone{
    height:20vh;
    width:5vw;
}
